<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="referrer" content="origin" />
<link type="text/css" rel="stylesheet" href="./css/blog-common.css"/>
<link id="MainCss" type="text/css" rel="stylesheet" href="./css/bundle-SimpleMemory.css"/>
<link type="text/css" rel="stylesheet" href="./css/421388.css"/>
<link id="mobile-style" media="only screen and (max-width: 767px)" type="text/css" rel="stylesheet" href="./css/bundle-SimpleMemory-mobile.css"/>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<script src="./js/jquery-2.2.0.min.js"></script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processClass: 'math', processEscapes: true },
        TeX: { 
            equationNumbers: { autoNumber: ['AMS'], useLabelIds: true }, extensions: ['extpfeil.js'] 
        },
        'HTML-CSS': { linebreaks: { automatic: true } },
        SVG: { linebreaks: { automatic: true } }
        });
    </script><script src="./js/MathJax.js"></script>
<script src="./js/blog-common.js" type="text/javascript"></script>

<script type="text/ecmascript">
	
function jump(id){
	if(confirm('你确定要删除吗？')){
		location.href='die.php?ids='+id;	
	}
}
function plsc(){
	if(confirm('第一次询问:你确定要 批量删除 选择的文章吗？')){
		if(confirm('第二次询问:你确定要 批量删除 选择的文章吗？')){
			var a = document.getElementById('plsc');
			a.submit();
		}
	}
}
function currentTime(){
  var d=new Date(),str='';
  str+=d.getFullYear()+'年';
  str+=d.getMonth() + 1+'月';
  str+=d.getDate()+'日';
  str+=d.getHours()+'时';
  str+=d.getMinutes()+'分';
  str+= d.getSeconds()+'秒';
  return str;
}

setInterval(function(){$('#time').html(currentTime)},1000);
</script>
<title>后台管理页面</title>
</head>

<div id="home" >
	<div style="text-align:center;" id="blogTitle">		
		<h1><a id="Header1_HeaderTitle" class="headermaintitle"  href="#">后台管理</a></h1>
		<form style="text-align:right;" method="post" action="">
		<button class="submit_1" style="color:red;" type="submit" name="exit" id="exit">安全退出</button>
		</form>

	</div><!--end: blogTitle 标题和副标题 -->	
			<input class="submit_1" style="color:black;" type="button" value="文章管理" name="button" id="button" onclick="location.href='admin.php'">

			<input class="submit_1" style="color:black;width: 90px" type="button" value="文章分类管理" name="button" id="button" onclick="location.href='fenglei.php'">

			<input class="submit_1" style="color:black;" type="button" value="用户管理" name="button" id="button" onclick="location.href='user.php'">
			<input class="submit_1" style="color:black;width: 90px" type="button" value="用户组管理" name="button" id="button" onclick="location.href='yonghuzu.php'">
			
			<input class="submit_1" style="color:black;" type="button" value="个人资料" name="button" id="button" onclick="location.href='gerenziliao.php?ids=<?php	echo $_SESSION['user_id'];	?>'">
	<br/>
	<br/>
	
	<body>
	<p><span style="color: rgb(51, 51, 51);">欢迎&nbsp;</span><b style="color: rgb(51, 51, 51);"><?php   echo getname_user($_SESSION['user']).' ['.$_SESSION['user']."]"; ?></b><span style="color: rgb(51, 51, 51);">&nbsp;来到本系统!<br/>您当前用户组为:</span><span style="color: rgb(227, 55, 55);">
		<?php   

				for($i=0;$i<sizeof($user_type_id);$i++){
    				if($user_type_id[$i]==$_SESSION['user_type']){
    								echo '<td>'.$user_type_list[$i].'</td>';
    				}
				}

		?></span><br></p>
		<p>当前时间:<span style="color: green;" id="time"></span></p>
		<script type="text/javascript">
			document.getElementById('time').innerHTML=currentTime();
		</script>
		<hr>
	
		<div class="box">
		<div class="search">
		<form method="get" action="">
			<tr>

		   <td><input class="text_search" type="text"  name="textfield" id="textfield" value=""/>
				<input style="background:rgba(250,250,250,0);color:#EEEE;border:1px solid;" type="submit" name="button_1" id="button_1" value="搜 索"/>
				<br/>
		   </td>
		   
		   </tr>
		</form>
		</div>
		<form action="die.php" id="plsc" method="post">
		  <h2 class="h2_1"></h2>

		  	<input class="submit_1" type="button" value="增加文章" name="button" id="button" onclick="location.href='zengjia.php'">&nbsp;&nbsp;&nbsp;<input class="submit_1" 			type="button" onclick="plsc();" style="color:red;" value="批量删除">
<?php 
if(isset($_GET['button_1'])){
	echo '<div style="text-align: center;"><b style="color: red; font-size:20px;">搜索结果如下:</b></div><br/>';
}

?>
		<table class="table_1" cellspacing="0px" border="0px solid #000">
		  <tr>
		  	<td style="border-collapse:collapse"><p>选择</p></td>
		    <td><p>标题</p></td>
		    <td><p>发布时间</p></td>
		    <td><p>分类</p></td>
		    <td><p>发布者</p></td>
		    <td><p>浏览量</p></td>
		    <td><p>点赞量</p></td>
		    <td><p>操作</p></td>
		  </tr>
		 <?php
		while($row = $ret->fetchArray(SQLITE3_ASSOC) ){
			echo '<tr>';
				echo '<td style="border-collapse:collapse"><input type="checkbox" value="'.$row['id'].'" name="ids[]"></td>';
				
				echo '<td class="table_1_a"><a href="show.php?id='.$row['id'].'">'.$row['title'].'</a></td>';
				echo '<td>'.$row['time'].'</td>';
				echo '<td>'.$blog_list[$row['type']].'</td>';
				echo '<td>'.$row['username'].'</td>';
				echo '<td>'.$row['veiws'].'</td>';
				echo '<td>'.$row['good'].'</td>';
				echo '<td><input class="submit_1" type="button" value="编辑" onclick="location.href=\'bianji.php?id='.$row['id'].'\'"/>&nbsp;&nbsp;&nbsp;<input class="submit_1" type="button" value="删除" onclick="jump('.$row['id'].')"></td>';
			echo '</tr>';
		}
		 
		 
		 ?>
		</table>
		</form>
		</div>
	</body>
</div>
</html>