<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="referrer" content="origin" />
<link type="text/css" rel="stylesheet" href="./css/blog-common.css"/>
<link id="MainCss" type="text/css" rel="stylesheet" href="./css/bundle-SimpleMemory.css"/>
<link type="text/css" rel="stylesheet" href="./css/421388.css"/>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<link id="mobile-style" media="only screen and (max-width: 767px)" type="text/css" rel="stylesheet" href="./css/bundle-SimpleMemory-mobile.css"/>

<script src="./js/jquery-2.2.0.min.js"></script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processClass: 'math', processEscapes: true },
        TeX: { 
            equationNumbers: { autoNumber: ['AMS'], useLabelIds: true }, extensions: ['extpfeil.js'] 
        },
        'HTML-CSS': { linebreaks: { automatic: true } },
        SVG: { linebreaks: { automatic: true } }
        });
    </script>
    <script src="./js/MathJax.js"></script>
	<script src="./js/blog-common.js" type="text/javascript"></script>

<title>登陆</title>
</head>
<div id="home">
<body>

	<div style="text-align:center;" id="blogTitle">		
		<h1><a id="Header1_HeaderTitle" class="headermaintitle" href="#">用户登陆</a></h1>
	</div><!--end: blogTitle 标题和副标题 -->
	<script type="text/javascript">
	    var u = document.getElementById("username");
		var p = document.getElementById("password");
		if(u.value.length <= 4) {
		    u.focus();
		} else {
		    p.focus();
		}
		function inpif() {
		    var u = document.getElementById("username");
			var i = document.getElementById("info");
			if (u.value.length <= 4) {
			    i.innerHTML="账号少于5位";
			    u.focus();
				setTimeout(function(){i.innerHTML=""; }, 800);
			}
		}
	</script>

	<form name="name_1" method="post" action="">
	<table class="table_1">
	    <tr><td id="info"></td></tr>
		
	    <tr>
	    	<td>账号：<input style="background:rgba(250,250,250,0.5);" type="text" name="username" id="username" size="30"/></td>
	    </tr>
	    <tr>
	    </tr>
	    	<td>密码：<input onfocus="inpif()" onclick="inpif()" style="background:rgba(250,250,250,0.5);" type="password" name="password" id="password" size="30"/></td>
	    <tr>
	    	<td colspan="2" align="center">
	    		<input class="submit_1" type="submit" name="button" id="button"  value="登陆">
	    		<input class="submit_1" type="button" name="button" id="button"  value="注册" onclick="location.href='register.php'">
	    	</td>
	    </tr>
	</table>
	</form>
<br/><br/><br/><br/><br/>
</body>
</div>
</html>